<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand ml65" href="/">
            <img src="../../../assets/img/m2e-logo.png" height="34" width="90" alt="m2epro"/>
            <small class="subtitle">support</small>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active separate">
                    <a class="nav-link" href="https://m2epro.com/" target="_blank">About M2E</a>
                </li>
                <li class="nav-item active separate dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Install/Upgrade</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="http://docs.m2epro.com/x/VAM0AQ" target="_blank">For Magento v1.x.x</a>
                        <a class="dropdown-item" href="http://docs.m2epro.com/x/ZgM0AQ" target="_blank">For Magento v2.x.x</a>
                    </div>
                </li>
                <li class="nav-item active separate">
                    <a class="nav-link" href="http://docs.m2epro.com/" target="_blank">Documentation</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://community.m2epro.com/" target="_blank">Forum</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
    <div class="submenu">
        <div class="row">
            <div class="col-xs-8 col-md-4">
                <div class="list-group tabs" id="list-tab" role="tablist">
                    <a #base (click)="hideSearch()" [routerLink]="['/knowledge']" routerLinkActive="active" class="list-group-item list-group-item-action" id="base-tab" data-toggle="list" href="#tab-base" role="tab" aria-controls="base">Knowledge Base</a>
                    <a #ideas (click)="hideSearch()" [routerLink]="['/ideas']" routerLinkActive="active" class="list-group-item list-group-item-action" id="ideas-tab" data-toggle="list" href="#tab-ideas" role="tab" aria-controls="ideas">Ideas</a>
                    <a [ngClass]="searchActive" class="list-group-item list-group-item-action" id="search-tab" data-toggle="list" href="#tab-search" role="tab" aria-controls="search">Search results</a>
                </div>
            </div>
            <div class="col-xs-4 col-md-8">
                <div class="search-container input-group ml-auto">
                    <input #info type="text" class="form-control" placeholder="Search.." name="search" (keyup.enter)="search(info.value)">
                    <div class="input-group-append">
                        <button class="btn-search" (click)="search(info.value)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
    <div class="container">
        <div class="row">
            <span class="left">Copyright © M2E Pro</span>
            <ul class="nav ml-auto">
                <li class="nav-link"><a class="nav-link" href="https://m2epro.com/terms-and-conditions" target="_blank"><span>Terms & Conditions</span></a></li>
                <li class="nav-link"><a class="nav-link" href="https://m2epro.com/privacy-policy" target="_blank">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
