@font-face {
    font-family: "futura";
    src: url("assets/fonts/Futura-Light/Futura-Light.woff");
}
@font-face {
    font-family: "futuramc";
    src: url("assets/fonts/futuramc/futuramc.woff");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
